:root {
  --color-background: #f8f9fa;
  --color-surface: #ffffff;
  --color-border: rgba(128, 128, 131, 0.53);

  --color-text-primary: #202124;
  --color-text-primary-hover: #5f6368;

  --color-text-secondary: #5f6368;

  --color-danger: #ea4335;
  --color-success: #34a853;

  --font-family: "Google Sans", "Roboto", sans-serif;
  --font-family-headings: "Google Sans", "Roboto", sans-serif;

  --border-radius-md: 8px;
  --border-radius-lg: 16px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-family), serif;
  background-color: var(--color-background);
  color: var(--color-text-primary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body, app-root {
  height: 100%;
}

app-root {
  display: flex;
  flex-direction: column;
}
