<nav class="navbar">
  <a class="navbar-brand" routerLink="/chat">WhatsApp Clone</a>
  <div class="navbar-links">
    <ng-container *ngIf="isAuthenticated$ | async as isAuthenticated">
      <a routerLink="/chat" routerLinkActive="active">Czat</a>
      <a *ngIf="isAdmin$ | async" routerLink="/admin" routerLinkActive="active">Admin</a>
      <button (click)="logout()">Wyloguj ({{ (userProfile$ | async)?.name }})</button>
    </ng-container>
    <ng-container *ngIf="!(isAuthenticated$ | async)">
      <button (click)="login()">Zaloguj</button>
    </ng-container>
  </div>
</nav>

<main class="content">
<!--  <router-outlet></router-outlet>-->
</main>
